{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 160,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "overrides": [
    {
      "files": ["**/*.html"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["**/*.mdx"],
      "options": {
        "proseWrap": "preserve",
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
